html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

toastr.options  
{
   closeButton: false;
   debug: true; 
   newestOnTop: false;
   progressBar: false;
   positionClass: toast-top-right; 
   preventDuplicates: false;
   onclick: null; 
   showDuration: 300;
   hideDuration: 1000; 
   timeOut: 5000;
   extendedTimeOut: 1000;
   showEasing: swing;
   hideEasing: linear;
   showMethod: fadeIn; 
   hideMethod: fadeOut;
}