@{
    ViewData["Title"] = "Access Denied";
}
<div class="row">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1><i class="fa-solid fa-ban"></i>
        İlgili sayfaya erişiminiz yoktur.</h1>
    </div>
</div>